.emptycart{
    margin: 7rem 10rem;
}
.cart{
    margin-left: 0.9rem;
}
.cartimg{
    width: 8rem;
    height: 7.5rem;
}
.checkout{
    font-family: 'blinker';
    width: 12.5rem;
    height: 3rem;
    font-size: 1.3rem;
    background-color: white;
    transition: all 0.3s;
    margin-top: 2.5rem;
}
.checkout:hover{
    color: white;
    background-color: black;
    transition: all 0.3s;
}


/* media querys */

@media screen and (max-width:720px) {
    .emptycart{
        margin: 18vh 25vw;
    }
    .cart{
        margin-left: 0rem;
    }
    .cartimg{
        width: 25vw;
    }
    
}