.slider2{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.slider2::-webkit-scrollbar{
    display: none;    

}
.slider1{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.318);
    padding-bottom: 1rem;
}
.sliderbtn{
    width: 14rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.584);
    border: none;
    cursor: pointer;  
    font-size: 2.5rem;  
    padding-top: 0.5rem;
}